<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Selenium" data-toc-modified-id="Selenium-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Selenium</a></span></li><li><span><a href="#Cleaning" data-toc-modified-id="Cleaning-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Cleaning</a></span><ul class="toc-item"><li><span><a href="#Limpieza-una-sola-tabla." data-toc-modified-id="Limpieza-una-sola-tabla.-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Limpieza una sola tabla.</a></span></li><li><span><a href="#Limpieza-y-creación-de-dataframe-completo" data-toc-modified-id="Limpieza-y-creación-de-dataframe-completo-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Limpieza y creación de dataframe completo</a></span><ul class="toc-item"><li><span><a href="#Create-list-of-month,year" data-toc-modified-id="Create-list-of-month,year-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Create list of month,year</a></span></li><li><span><a href="#Columns-expand" data-toc-modified-id="Columns-expand-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Columns expand</a></span></li></ul></li></ul></li></ul></div>

# Selenium

In [1]:
import requests
from selenium import webdriver
from time import sleep
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#Creating list of urls
url_list = []
for year in range(2014,2022):
    for month in range (1,13):
        url_list.append(f"https://www.wunderground.com/history/monthly/EHAM/date/{year}-{month}")

In [3]:
url_list = url_list[:5]

In [4]:
#Opciones de Selenium para evitar que sepan que eres un robot
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot, pero me sigue diciendo que hay un software automatico usando chrome
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('drive/adblock.crx') #adblocker
opciones.add_argument('--incognito')#incognito window

In [5]:
#connect with chrome

In [6]:
driver = webdriver.Chrome(ChromeDriverManager().install())
results_list = []    
for i in url_list:   
    #Go to URL
    driver.get(i)
    # After coping the full X-path in the webpage
    sleep(5)
    my_info = driver.find_element_by_xpath("/html/body/app-root/app-history/one-column-layout/wu-header/sidenav/mat-sidenav-container/mat-sidenav-content/div/section/div[2]/div[1]/div[5]/div[1]/div/lib-city-history-observation/div/div[2]")
    print("Done")
    print(my_info)
    results_list.append(my_info.text) #we have to append the result.text because if we try to extract the text afterwars it doesn't work
driver.quit()

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [/Users/sonia/.wdm/drivers/chromedriver/mac64/95.0.4638.69/chromedriver] found in cache

Done
<selenium.webdriver.remote.webelement.WebElement (session="a1241c7869a4373027fd6e9dbcf8f40a", element="69d1f970-5715-4db2-b8d5-ecdea366c756")>
Done
<selenium.webdriver.remote.webelement.WebElement (session="a1241c7869a4373027fd6e9dbcf8f40a", element="092b62f2-c5cc-4a53-86fa-9ae7af56503d")>
Done
<selenium.webdriver.remote.webelement.WebElement (session="a1241c7869a4373027fd6e9dbcf8f40a", element="4c0015ad-9d47-487b-94e7-31eaf7bf1b0c")>
Done
<selenium.webdriver.remote.webelement.WebElement (session="a1241c7869a4373027fd6e9dbcf8f40a", element="d6599f19-6728-4530-9b8b-8dc2fdcda9ab")>
Done
<selenium.webdriver.remote.webelement.WebElement (session="a1241c7869a4373027fd6e9dbcf8f40a", element="974fece8-8a80-4660-8815-bea6d77b3d97")>

In [7]:
results_list[1]

'Time Temperature (° F) Dew Point (° F) Humidity (%) Wind Speed (mph) Pressure (Hg) Precipitation (in)\nFeb\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n11\n12\n13\n14\n15\n16\n17\n18\n19\n20\n21\n22\n23\n24\n25\n26\n27\n28\nMax Avg Min\n46 43.3 39\n45 40.5 37\n46 39.0 34\n48 42.6 37\n50 44.2 39\n48 45.1 43\n50 45.7 41\n48 44.6 41\n45 42.7 41\n48 41.2 36\n46 41.9 36\n48 41.7 36\n45 41.2 37\n46 40.9 36\n54 49.3 43\n48 43.0 34\n52 42.5 34\n48 43.6 39\n50 45.9 43\n50 46.4 41\n48 44.6 41\n50 43.2 39\n54 45.5 39\n54 46.3 39\n54 46.8 43\n50 43.4 39\n45 40.9 37\n46 41.5 36\nMax Avg Min\n43 38.9 34\n39 35.9 34\n36 32.5 0\n41 36.5 34\n43 38.3 34\n43 39.8 37\n48 42.9 37\n45 40.3 36\n37 36.3 34\n39 36.4 34\n41 37.7 34\n39 35.4 0\n39 36.9 34\n43 37.9 34\n46 39.3 37\n41 33.2 0\n45 35.6 0\n41 38.3 36\n45 43.3 41\n48 44.7 39\n43 39.4 36\n45 38.9 36\n45 40.4 37\n41 39.1 36\n45 41.1 39\n43 39.5 36\n41 38.4 36\n41 37.3 34\nMax Avg Min\n100 84.7 71\n93 83.5 76\n100 84.3 62\n87 78.6 66\n87 79.7 71\n93 82.3 71\n100 89.8 81\n93 84.9 71\n87 78.6 70\n93 83.7 62\n100 85.9 66\n100 83.2 57\n93 85.0 76\n100 88.6 81\n93 69.4 58\n93 79.2 66\n100 86.9 71\n93 82.1 71\n100 89.8 71\n100 93.9 82\n93 82.7 66\n93 84.7 71\n93 83.0 67\n93 77.4 62\n93 80.9 67\n100 86.9 62\n100 91.3 76\n100 86.4 71\nMax Avg Min\n25 19.2 14\n20 14.9 9\n15 10.0 6\n20 14.8 12\n28 20.4 15\n24 20.1 10\n26 17.2 10\n26 20.1 14\n36 27.3 17\n17 8.3 1\n29 14.3 3\n31 19.5 8\n24 16.1 7\n25 16.4 8\n38 30.8 18\n23 15.8 7\n14 9.0 3\n13 9.5 7\n16 11.2 8\n20 15.3 8\n21 15.2 9\n18 14.4 7\n21 15.9 12\n21 13.8 7\n23 14.5 6\n17 9.9 6\n26 14.3 5\n12 9.0 6\nMax Avg Min\n29.6 29.4 29.2\n30.0 29.8 29.6\n30.0 29.8 29.7\n29.7 29.6 29.5\n29.5 29.3 29.2\n29.5 29.4 29.2\n29.5 29.2 28.9\n29.4 29.1 29.0\n29.3 29.1 29.0\n29.4 29.4 29.3\n29.5 29.5 29.4\n29.7 29.5 29.3\n29.5 29.3 29.3\n29.6 29.5 29.1\n29.5 29.3 29.1\n29.8 29.7 29.5\n30.0 29.9 29.8\n30.0 29.9 29.8\n29.9 29.9 29.8\n29.9 29.7 29.5\n29.7 29.6 29.6\n30.0 29.8 29.7\n30.0 30.0 30.0\n30.0 29.9 29.8\n29.8 29.7 29.7\n30.1 29.9 29.8\n30.1 29.9 29.7\n29.7 29.6 29.5\nTotal\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00'

# Cleaning

In [8]:
import pandas as pd

In [9]:
#convertimos nuestra lista de resultados en un dataframe
df = pd.DataFrame(results_list)

In [10]:
df.head()

                                                   0
0  Time Temperature (° F) Dew Point (° F) Humidit...
1  Time Temperature (° F) Dew Point (° F) Humidit...
2  Time Temperature (° F) Dew Point (° F) Humidit...
3  Time Temperature (° F) Dew Point (° F) Humidit...
4  Time Temperature (° F) Dew Point (° F) Humidit...

## Limpieza una sola tabla.

In [11]:
# Como nuestra primera fila se corresponderá con la primera tabla que hemos scrapeado ...
x = list(df.iloc[1][0].split("\n"))
header = x[0]

In [12]:
header

'Time Temperature (° F) Dew Point (° F) Humidity (%) Wind Speed (mph) Pressure (Hg) Precipitation (in)'

In [47]:
columnas = ["Time", "Temperature (° F)", "Dew Point (° F)", "Humidity (%)", "Wind Speed (mph)", "Pressure (Hg)", "Precipitation (in)","month","year"]

In [14]:
x[1:]

['Feb',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 'Max Avg Min',
 '46 43.3 39',
 '45 40.5 37',
 '46 39.0 34',
 '48 42.6 37',
 '50 44.2 39',
 '48 45.1 43',
 '50 45.7 41',
 '48 44.6 41',
 '45 42.7 41',
 '48 41.2 36',
 '46 41.9 36',
 '48 41.7 36',
 '45 41.2 37',
 '46 40.9 36',
 '54 49.3 43',
 '48 43.0 34',
 '52 42.5 34',
 '48 43.6 39',
 '50 45.9 43',
 '50 46.4 41',
 '48 44.6 41',
 '50 43.2 39',
 '54 45.5 39',
 '54 46.3 39',
 '54 46.8 43',
 '50 43.4 39',
 '45 40.9 37',
 '46 41.5 36',
 'Max Avg Min',
 '43 38.9 34',
 '39 35.9 34',
 '36 32.5 0',
 '41 36.5 34',
 '43 38.3 34',
 '43 39.8 37',
 '48 42.9 37',
 '45 40.3 36',
 '37 36.3 34',
 '39 36.4 34',
 '41 37.7 34',
 '39 35.4 0',
 '39 36.9 34',
 '43 37.9 34',
 '46 39.3 37',
 '41 33.2 0',
 '45 35.6 0',
 '41 38.3 36',
 '45 43.3 41',
 '48 44.7 39',
 '43 39.4 36',
 '45 38.9 36',
 '45 40.4 37',
 '41 39.1 36',
 '45 41.1 39',
 '43 39.5 36',
 '41 38.4 36',
 '41 37.3 34',
 'Max Avg Min',
 '100 84.7 71',
 '93 83.5 76',
 '100 84.3 62',
 '87 78.6 66',
 '87 79.7 71',
 '93 82.3 71',
 '100 89.8 81',
 '93 84.9 71',
 '87 78.6 70',
 '93 83.7 62',
 '100 85.9 66',
 '100 83.2 57',
 '93 85.0 76',
 '100 88.6 81',
 '93 69.4 58',
 '93 79.2 66',
 '100 86.9 71',
 '93 82.1 71',
 '100 89.8 71',
 '100 93.9 82',
 '93 82.7 66',
 '93 84.7 71',
 '93 83.0 67',
 '93 77.4 62',
 '93 80.9 67',
 '100 86.9 62',
 '100 91.3 76',
 '100 86.4 71',
 'Max Avg Min',
 '25 19.2 14',
 '20 14.9 9',
 '15 10.0 6',
 '20 14.8 12',
 '28 20.4 15',
 '24 20.1 10',
 '26 17.2 10',
 '26 20.1 14',
 '36 27.3 17',
 '17 8.3 1',
 '29 14.3 3',
 '31 19.5 8',
 '24 16.1 7',
 '25 16.4 8',
 '38 30.8 18',
 '23 15.8 7',
 '14 9.0 3',
 '13 9.5 7',
 '16 11.2 8',
 '20 15.3 8',
 '21 15.2 9',
 '18 14.4 7',
 '21 15.9 12',
 '21 13.8 7',
 '23 14.5 6',
 '17 9.9 6',
 '26 14.3 5',
 '12 9.0 6',
 'Max Avg Min',
 '29.6 29.4 29.2',
 '30.0 29.8 29.6',
 '30.0 29.8 29.7',
 '29.7 29.6 29.5',
 '29.5 29.3 29.2',
 '29.5 29.4 29.2',
 '29.5 29.2 28.9',
 '29.4 29.1 29.0',
 '29.3 29.1 29.0',
 '29.4 29.4 29.3',
 '29.5 29.5 29.4',
 '29.7 29.5 29.3',
 '29.5 29.3 29.3',
 '29.6 29.5 29.1',
 '29.5 29.3 29.1',
 '29.8 29.7 29.5',
 '30.0 29.9 29.8',
 '30.0 29.9 29.8',
 '29.9 29.9 29.8',
 '29.9 29.7 29.5',
 '29.7 29.6 29.6',
 '30.0 29.8 29.7',
 '30.0 30.0 30.0',
 '30.0 29.9 29.8',
 '29.8 29.7 29.7',
 '30.1 29.9 29.8',
 '30.1 29.9 29.7',
 '29.7 29.6 29.5',
 'Total',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00']

In [15]:
x[1:].index('Max Avg Min')

29

In [17]:
import numpy as np
single_df = pd.DataFrame(np.array(x[1:]).reshape(7,29)).T

In [18]:
single_df.head()

,0,1,2,3,4,5,6
0,Feb,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total
1,1,46 43.3 39,43 38.9 34,100 84.7 71,25 19.2 14,29.6 29.4 29.2,0.00
2,2,45 40.5 37,39 35.9 34,93 83.5 76,20 14.9 9,30.0 29.8 29.6,0.00
3,3,46 39.0 34,36 32.5 0,100 84.3 62,15 10.0 6,30.0 29.8 29.7,0.00
4,4,48 42.6 37,41 36.5 34,87 78.6 66,20 14.8 12,29.7 29.6 29.5,0.00

In [19]:
single_df.columns = columnas

In [20]:
single_df.head()

,Time,Temperature (° F),Dew Point (° F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in)
0,Feb,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total
1,1,46 43.3 39,43 38.9 34,100 84.7 71,25 19.2 14,29.6 29.4 29.2,0.00
2,2,45 40.5 37,39 35.9 34,93 83.5 76,20 14.9 9,30.0 29.8 29.6,0.00
3,3,46 39.0 34,36 32.5 0,100 84.3 62,15 10.0 6,30.0 29.8 29.7,0.00
4,4,48 42.6 37,41 36.5 34,87 78.6 66,20 14.8 12,29.7 29.6 29.5,0.00

In [ ]:
"""x = results_list[0].split("Max Avg Min")
x"""

In [ ]:
'''x[1].split("\n")'''

## Limpieza y creación de dataframe completo

### Create list of month,year

In [45]:
month_year = []
for year in range(2014,2022):
    for month in range (1,13):
        month_year.append([month,year])

In [48]:
month_year[:3]

[[1, 2014], [2, 2014], [3, 2014]]

Create new dataframe from list of results

In [103]:
clima_df = pd.DataFrame(columns = columnas)
for i in range (len(df)):
    x = list(df.iloc[i][0].split("\n"))
    mi_ind = x[1:].index('Max Avg Min')
    single_df = pd.DataFrame(np.array(x[1:]).reshape(7,mi_ind)).T
    single_df.columns = ["Time", "Temperature (° F)", "Dew Point (° F)", "Humidity (%)", "Wind Speed (mph)", "Pressure (Hg)", "Precipitation (in)"]
    single_df['month'] = month_year[i][0]
    single_df['year'] = month_year[i][1]
    clima_df = pd.concat([clima_df, single_df], axis=0)

### Columns expand

Como nuestras columnas tienen 3 columnas dentro realmente hacemos un expand

In [105]:
clima_df[['Tmax','Tavg','Tmin']] = clima_df["Temperature (° F)"].str.split(" ",expand=True)

In [106]:
clima_df[['DPmax','DPavg','DPmin']] = clima_df["Dew Point (° F)"].str.split(" ",expand=True)

In [107]:
clima_df[['Humidity_max','Humidity_avg','Humidity_min']] = clima_df["Humidity (%)"].str.split(" ",expand=True)

In [108]:
clima_df[['wind_max','wind_avg','wind_min']] = clima_df["Wind Speed (mph)"].str.split(" ",expand=True)

In [109]:
clima_df[['pressure_max','pressure_avg','pressure_min']] = clima_df["Pressure (Hg)"].str.split(" ",expand=True)

In [110]:
clima_df = clima_df.rename(columns={'Time': 'day'})

In [111]:
clima_df.head()

,day,Temperature (° F),Dew Point (° F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),month,year,Tmax,...,DPmin,Humidity_max,Humidity_avg,Humidity_min,wind_max,wind_avg,wind_min,pressure_max,pressure_avg,pressure_min
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total,1,2014,Max,...,Min,Max,Avg,Min,Max,Avg,Min,Max,Avg,Min
1,1,48 44.0 39,45 40.9 37,93 88.6 76,25 17.7 12,29.7 29.6 29.3,0.00,1,2014,48,...,37,93,88.6,76,25,17.7,12,29.7,29.6,29.3
2,2,50 47.2 43,46 44.0 41,93 88.5 81,23 15.9 9,29.6 29.4 29.3,0.00,1,2014,50,...,41,93,88.5,81,23,15.9,9,29.6,29.4,29.3
3,3,52 47.3 43,46 43.1 37,100 86.2 76,38 21.1 14,29.6 29.5 29.4,0.00,1,2014,52,...,37,100,86.2,76,38,21.1,14,29.6,29.5,29.4
4,4,48 45.7 43,45 41.5 39,93 85.4 81,28 15.9 7,29.7 29.5 29.3,0.00,1,2014,48,...,39,93,85.4,81,28,15.9,7,29.7,29.5,29.3

Como aún no hemos hecho `reste index`todas las cabeceras tienen index cero

In [112]:
clima_df = clima_df.drop([0])#quitamos todas la cabeceras porque tienen el index 0

In [113]:
clima_df.reset_index(drop=True)

,day,Temperature (° F),Dew Point (° F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),month,year,Tmax,...,DPmin,Humidity_max,Humidity_avg,Humidity_min,wind_max,wind_avg,wind_min,pressure_max,pressure_avg,pressure_min
0,1,48 44.0 39,45 40.9 37,93 88.6 76,25 17.7 12,29.7 29.6 29.3,0.00,1,2014,48,...,37,93,88.6,76,25,17.7,12,29.7,29.6,29.3
1,2,50 47.2 43,46 44.0 41,93 88.5 81,23 15.9 9,29.6 29.4 29.3,0.00,1,2014,50,...,41,93,88.5,81,23,15.9,9,29.6,29.4,29.3
2,3,52 47.3 43,46 43.1 37,100 86.2 76,38 21.1 14,29.6 29.5 29.4,0.00,1,2014,52,...,37,100,86.2,76,38,21.1,14,29.6,29.5,29.4
3,4,48 45.7 43,45 41.5 39,93 85.4 81,28 15.9 7,29.7 29.5 29.3,0.00,1,2014,48,...,39,93,85.4,81,28,15.9,7,29.7,29.5,29.3
4,5,46 42.5 36,45 38.5 34,93 86.4 76,24 13.3 8,29.8 29.6 29.4,0.00,1,2014,46,...,34,93,86.4,76,24,13.3,8,29.8,29.6,29.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,27,64 61.0 59,61 58.7 57,100 92.8 77,13 5.5 1,29.9 29.9 29.8,0.00,5,2014,64,...,57,100,92.8,77,13,5.5,1,29.9,29.9,29.8
147,28,59 56.4 54,59 55.5 54,100 96.5 88,10 6.2 1,30.0 29.9 29.8,0.00,5,2014,59,...,54,100,96.5,88,10,6.2,1,30.0,29.9,29.8
148,29,54 52.2 50,54 49.1 45,100 90.5 76,14 10.3 6,30.2 30.0 30.0,0.00,5,2014,54,...,45,100,90.5,76,14,10.3,6,30.2,30.0,30.0
149,30,63 54.9 43,50 44.3 39,87 68.8 48,13 8.3 5,30.3 30.2 30.2,0.00,5,2014,63,...,39,87,68.8,48,13,8.3,5,30.3,30.2,30.2
150,31,66 56.1 46,52 46.5 43,100 73.0 49,16 6.0 2,30.3 30.2 30.2,0.00,5,2014,66,...,43,100,73.0,49,16,6.0,2,30.3,30.2,30.2

Por último quitamos las columnas originales

In [117]:
clima_df = clima_df.drop(["Temperature (° F)", "Dew Point (° F)", "Humidity (%)", "Wind Speed (mph)", "Pressure (Hg)"], axis = 1)

In [118]:
clima_df.head()

,day,Precipitation (in),month,year,Tmax,Tavg,Tmin,DPmax,DPavg,DPmin,Humidity_max,Humidity_avg,Humidity_min,wind_max,wind_avg,wind_min,pressure_max,pressure_avg,pressure_min
1,1,0.00,1,2014,48,44.0,39,45,40.9,37,93,88.6,76,25,17.7,12,29.7,29.6,29.3
2,2,0.00,1,2014,50,47.2,43,46,44.0,41,93,88.5,81,23,15.9,9,29.6,29.4,29.3
3,3,0.00,1,2014,52,47.3,43,46,43.1,37,100,86.2,76,38,21.1,14,29.6,29.5,29.4
4,4,0.00,1,2014,48,45.7,43,45,41.5,39,93,85.4,81,28,15.9,7,29.7,29.5,29.3
5,5,0.00,1,2014,46,42.5,36,45,38.5,34,93,86.4,76,24,13.3,8,29.8,29.6,29.4